<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>personal-information</h1>
  </body>
  <script>
    const apiCall = async () => {
      try {
        const response = await fetch("http://localhost:3000/api/personal-information");
        const data = await response.json();
        console.log(data);
      } catch (error) {
        console.error(error);
      }
    };

    apiCall();
  </script>
</html>
